[submodule "themes/hugo-tranquilpeak-theme"]
	path = themes/tranquilpeak
	url = https://github.com/kakawait/hugo-tranquilpeak-theme.git
[submodule "public"]
	path = public
	url = git@github.com:ngkz/ngkz.github.io.git
	branch = master
